@page "/"
@using Collins
@inject DataService data;
@inject IJSRuntime JS

<table id="table">
  <thead id="thead">
<tr id="tr1"></tr>
<tr id="tr2"></tr>
<tr id="tr3"></tr>
  </thead>
  
</table>




@code {


protected override async Task OnAfterRenderAsync(bool firstRender)
{
    if (firstRender)
    {
      await JS.InvokeVoidAsync("setDataTable");
    }
}

}

